.review-cycle-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  height: auto;

  .radio-group-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    mat-radio-button {
      margin-right: 20px;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    margin-top: 4%;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    mat-form-field {
      width: 100%;
      margin-bottom: 15px;
    }

    button {
      margin-top: 15px;
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    margin-left: 30%;

    mat-form-field {
      margin-right: 10px;
      width: 250px;
      margin-bottom: -10px;

      input {
        font-size: 14px;
      }
    }

    button {
      font-size: 16px;
      margin-right: 2%;
    }
  }

  .reset-button {
    button {
      font-size: 16px;
    }
  }

  .file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    input {
      display: none;
    }
  }

  .review-cycle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .review-cycle-card {
    width: 200px;
  }

  .review-cycle-info {
    font-size: 16px;
    margin: 0;
  }
}
* {
  background-color: #f4f7fa;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
