<!-- parent-view-feedback.component.html -->

<div class="container">
  <mat-form-field class="search-bar">
    <input
      matInput
      (input)="applyFilter($event)"
      placeholder="Search by User ID"
      [(ngModel)]="userId"
    />
  </mat-form-field>

  <mat-table [dataSource]="reviewCycleDataSource.data" class="mat-elevation-z8">
    <!-- User ID Column -->
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef>User ID</mat-header-cell>
      <mat-cell *matCellDef="let reviews">{{ reviews.userId }}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ userName }}</mat-cell>
    </ng-container>

    <!-- Manager Feedback Column -->
    <ng-container matColumnDef="managerFeedback">
      <mat-header-cell *matHeaderCellDef>Manager Feedback</mat-header-cell>
      <mat-cell *matCellDef="let reviews">{{ reviews.feedback }}</mat-cell>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
      <mat-cell *matCellDef="let reviews" style="position: relative; left: 1.5%;">{{
        reviews.overallRating | number : "1.2-2"
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="period">
      <mat-header-cell *matHeaderCellDef>Period</mat-header-cell>
      <mat-cell *matCellDef="let reviews" style="position: relative; left: 0.5%;">{{ reviews.period }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="financialYear">
      <mat-header-cell *matHeaderCellDef>financialYear</mat-header-cell>
      <mat-cell *matCellDef="let reviews">{{ reviews.financialYear }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="
        let row;
        columns: displayedColumns;
        let even = even;
        let odd = odd
      "
      [ngClass]="{ 'even-row': even, 'odd-row': odd }"
    ></mat-row>
  </mat-table>
</div>
