<!-- parent-view-feedback.component.html -->

<div class="container">
  <mat-form-field class="search-bar">
    <input
      matInput
      (input)="applyFilter($event)"
      placeholder="Search by User ID"
      [(ngModel)]="userId"
    />
  </mat-form-field>

  <table mat-table [dataSource]="reviewCycleDataSource.data" class="mat-elevation-z8">
    <!-- User ID Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>User ID</th>
      <td mat-cell *matCellDef="let reviews">{{ reviews.userId }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ userEmail }}</td>
    </ng-container>

    <!-- Manager Feedback Column -->
    <ng-container matColumnDef="managerFeedback">
      <th mat-header-cell *matHeaderCellDef>Manager Feedback</th>
      <td mat-cell *matCellDef="let reviews">{{ reviews.feedback }}</td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let reviews">{{ reviews.rating }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
