<!-- <div class="card flex justify-content-center overflow-x-auto"> -->
<div style="margin-top: 5%;">
  <p-organizationChart
    [value]="data"
    selectionMode="multiple"
    [(selection)]="selectedNodes"
  >
    <ng-template let-node pTemplate="person">
      <div class="p-2 text-center" (click)="viewDetails(node.data.userId)" style="background-color: #3F72AF; margin: -18px; padding: 15px; padding-top: 0px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); cursor: pointer; transition: background-color 0.3s; height: 100px; width: 120px;">
        <img [src]="node.data.image" class="mb-3 w-3rem h-3rem" style="border-radius: 50%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); object-fit: cover;">
        <div class="font-bold" style="color: black; font-size: 1.2rem; margin-bottom: 4px;">{{ node.data.name }}</div>
        <div style="color: black; font-size: 1rem; margin-bottom: 2px;">{{ node.data.band }}</div>
      </div>
      
      <!-- <ng-template pTemplate="connection" let-connection> -->
      <!-- </ng-template> -->
    </ng-template>

  </p-organizationChart>
<!-- </div> -->
</div>
