<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand app-title">Performance Management System</span>
  
  <div class="search-container">
    <div class="input-group search-bar">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <span class="fa fa-search"></span>
        </button>
      </div>
    </div>
  </div>
  
  <div class="spacer"></div>
  
  <div class="profile-header">
    <span class="profile-username">John Doe</span>
    <img class="nav-profile-image" src="../../assets/images/profile.png" alt="User Profile">
  </div>
</nav> -->

<nav class="navbar" style="background-color: #bfdef4">
  <div class="container-fluid">
    <a class="navbar-brand">User Profile Page</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="number"
        placeholder="User Id"
        aria-label="Search"
        id="userId"
        #userIdInput
      />
      <button class="btn btn-outline-success" type="submit" (click)="getUserById(userIdInput.value)">Search</button>
    </form>
    <div class="profile-header">
      <span class="profile-username">{{ employee.firstName }} {{ employee.lastName }}</span>
      <img
        class="nav-profile-image"
        src="../../assets/images/profile.png"
        alt="User Profile"
      />
    </div>
  </div>
</nav>

<div class="container profile-container">
  <div class="row">
    <div class="col col-left">
      <div class="profile-header">
        <img
          class="profile-image"
          src="../../assets/images/profile.png"
          alt="User Profile"
        />
      </div>
      <div class="user-info">
        <div class="left-section">
          <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>
          <p><strong>Role:</strong> {{ employee.roles }}</p>
          <p><strong>Email:</strong> {{ employee.email }}</p>
        </div>
      </div>
    </div>
    <div class="col col-right">
      <div class="user-info">
        <div class="right-section">
          <p><strong>Employee ID:</strong> {{ employee.userId }}</p>
          <p>
            <strong>Joining Date:</strong> {{ employee.joiningDate | date }}
          </p>
          <p><strong>HR ID:</strong> {{ employee.hrId }}</p>
          <p><strong>RM ID:</strong> {{ employee.reportingManagerId }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <hr class="flex-grow-1 mx-4" />
  </div>

  <div class="actions-container">
    <div class="manager-actions">
      <div class="manager-section">
        <h3>Manager Actions</h3>
        <button class="btn btn-primary" >Edit Task</button>
        <button class="btn btn-primary">Give Review</button>
        <button class="btn btn-primary">Give Feedback</button>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <hr class="flex-grow-1 mx-4" />
  </div>

  <div class="actions-container">
    <div class="senior-manager-actions">
      <div class="senior-manager-section">
        <h3>Senior Manager Actions</h3>
        <button class="btn btn-primary">Give Feedback</button>
      </div>
    </div>
  </div>
</div>