<!-- profile-page.component.html -->

<div class="container profile-container">
  <div class="profile">
    <div class="profile-card">
      <div class="profile-header">
        <img
          class="profile-image"
          src="../../assets/images/profile.png"
          alt="User Profile"
        />
        <div class="user-info">
          <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>
          <p style="font-size: 18px">
            <strong>Role:</strong> {{ employee.roles }}
          </p>
          <p style="font-size: 18px">
            <strong>Email:</strong> {{ employee.email }}
          </p>
        </div>
      </div>
      <div class="details">
        <div class="detail">
          <strong>Employee ID:</strong> {{ employee.userId }}
        </div>
        <div class="detail">
          <strong>Joining Date:</strong> {{ employee.joiningDate | date }}
        </div>
        <div class="detail"><strong>HR ID:</strong> {{ employee.hrId }}</div>
        <div class="detail">
          <strong>RM ID:</strong> {{ employee.reportingManagerId }}
        </div>
        <div class="detail" style="margin-bottom: -30px;"><strong>Band:</strong> {{ employee.band }}</div>
        <div id="idCard">
          <button class="custom-button-download" (click)="generateIdCardPDF()">
            Download User Details
          </button>
        </div>
        <button class="custom-button" (click)="viewSelfFeedback()">View Self Feedback</button>
        <button class="custom-button" (click)="giveSelfFeedback()">Give Self Feedback</button>
      </div>

      <div class="divider"></div>
      <div class="manager-actions" *ngIf="showButton">
        <h3>Manager Actions</h3>
        <button class="custom-button" (click)="viewDetails(employee.userId)">
          Give Review
        </button>

      </div>
    </div>
  </div>
</div>
