@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.key-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .header {
    font-size: 30px;
    margin-bottom: -1%;
    margin-top: 3%;
    margin-right: 70%;
    // position: relative;
    // left: -25%; /* Adjusted to center the heading */
    color: #333; /* Adjust the color as needed */
    font-family: 'Arial', sans-serif; /* Specify the font family */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add letter-spacing for better readability */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  }

  .header2 {
    font-size: 30px;
    margin-bottom: -1%;
    margin-top: 3%;
    margin-right: 72%;
    // position: relative;
    // left: -25%; /* Adjusted to center the heading */
    color: #333; /* Adjust the color as needed */
    font-family: 'Arial', sans-serif; /* Specify the font family */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add letter-spacing for better readability */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  }

  h2 {
    font-size: 30px;
    margin-bottom: -1%;
    margin-top: 3%;
    margin-right: 80%;
    // position: relative;
    // left: -25%; /* Adjusted to center the heading */
    color: #333; /* Adjust the color as needed */
    font-family: 'Arial', sans-serif; /* Specify the font family */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add letter-spacing for better readability */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  }
  
  .filter-section {
    display: flex;
    flex-direction: row;
    // position: relative;
    // left: 23%;
    margin-left: 62%;
    margin-top: -3%;
    margin-bottom: -1.5%;
    mat-form-field {
      margin-right: 10px;
      width: 150px;

      mat-label {
        font-size: 14px;
      }
    }

    button {
      font-size: 16px;
    }
  }

  mat-table {
    width: 100%;
    margin-top: 20px;
    overflow: auto;

    th,
    td {
      text-align: center;
      padding: 10px;
    }

    mat-header-cell{
      font-size: 20px;
    }
  }
}
/* Add this to your component's styles or stylesheet */





/* Add this to your component's styles or stylesheet */

/* Add this to your component's styles or stylesheet */

/* Add this to your component's styles or stylesheet */

.table.mat-table {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5; /* Light Grey on Hover */
}

.btn-view-task {
  background-color: #07bbf1;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #10a9ea;
}

.modal-dialog {
  margin-top: 7%;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adding a subtle box shadow */
  border-radius: 0.50rem; /* Adding rounded corners for a softer look */
  max-width: 500px; /* Limiting the maximum width for better readability */
  padding: 20px; /* Adding some padding for content spacing */
  border: 1px solid #DEE2E6;

  button{
    border-radius: 0.50rem;
  }
}


#feedback{
  border: 1px solid #DEE2E6;
  border-radius: 0.50rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Adding a subtle box shadow */
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#over-feedback{
  border-radius: 0.50rem;
}


.even-row {
  background-color: #e8f1cc; /* Set the background color for even rows */
}

.odd-row {
  background-color: #ffffff; /* Set the background color for odd rows */
}

.mat-mdc-cell{
  border: none;
}

