/* app.component.scss */

.options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Align items in a column */
  height: 100vh;
}

.center-card {
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s;
  padding: 20px;
  text-align: center;
  align-items: center; /* Add a transition for a smooth hover effect */
}

.login-header{
  margin-bottom: 3%;
  margin-top: -5%;
}

.center-card:hover {
  transform: scale(1.05); /* Increase size on hover */
}

mat-card {
  margin: 10px;
  width: 270px;
  height: 160px;
}
.options-row {
  display: flex;
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 1.5rem; /* Adjust the font size of the title as needed */
  text-align: center;
}