<!-- app.component.html -->

<div class="options-container">
  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Manage User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/user">
        Click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Manage GoalPlan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/goalplan">
        Click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Manage KeyResult</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/keyresult">
        Click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Manage Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/task">
        Click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Manage ReviewCycle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/reviewcycle">
        Click
      </button>
    </mat-card-content>
  </mat-card>
</div>
