/* app.component.scss */

.options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center-card {
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s;
  padding: 20px;
  text-align: center;
  align-items: center; /* Add a transition for a smooth hover effect */
}

.login-header{
  margin-bottom: 3%;
}

.center-card:hover {
  transform: scale(1.05); /* Increase size on hover */
}

mat-card {
  margin: 10px;
}
