<!-- app.component.html -->

<div class="options-container">
  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>User<br> Management</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/user">
        Click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Goal Plan Management</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/goalplan">
        Click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Key Result Management</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/keyresult">
        Click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Task<br> Management</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/task">
        Click
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="center-card">
    <mat-card-header class="login-header">
      <mat-card-title>Review Cycle Management</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/admin/reviewcycle">
        Click
      </button>
    </mat-card-content>
  </mat-card>
</div>
