<!-- goal-plan-upload.component.html -->

<!-- user-management.component.html -->

<!-- <div class="file-upload-container">
  <input type="file" (change)="onFileSelected($event)" />

  <button mat-raised-button color="primary" (click)="onUpload()">
    Upload Goal Plan File
  </button>
</div> -->
<div class="file-upload-container">
  <mat-form-field style="width: 200px" appearance="outline">
    <mat-label>Band</mat-label>
    <mat-select [(value)]="selectedBand">
      <mat-option *ngFor="let band of bands" [value]="band">{{
        band
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="file-upload-container">
  <input type="file" (change)="onFileSelected($event)" />
  <button mat-raised-button color="primary" (click)="onUpload2()" [disabled]="!selectedBand">
    Upload Goal Plan File
  </button>
</div>
