$primary-color: #3498db;
$navbar-background: #080234;
$navbar-text-color: #ecf0f1;

// Navbar styles
.navbar {
  position: fixed;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  //background-color: $navbar-background;
  //background-image: linear-gradient(to right, orange , purple);
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000; // Set a high z-index to ensure it's on top of other elements

  .navbar-logo {
    img {
      max-width: 120px; // Adjust the max-width of your logo
      height: auto;
     // background-color: white;
      margin-top: 5px;
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    padding: 0;

    li {
      margin-right: 20px;
      font-size: 16px;

      a {
        text-decoration: none;
        color: $navbar-text-color;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
    // Responsive styles
    @media (max-width: 768px) {
      flex-direction: column;
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      background-color: $navbar-background;
      text-align: center;

      li {
        margin: 10px 0;
      }
    }
  }

  .navbar-actions {
    position: relative;
    top: 10px;
  }
}

.mat-icon-size {
  font-size: 40px;
  height: 60px;
  width: 50px;
}

.input {
  height: 20px;
  width: 100%; /* Full width on smaller screens */
  max-width: 400px; /* Limited width on larger screens */
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;

  .search-icon {
    position: absolute;
    left: 10px;
    color: $navbar-text-color;
    font-size: 24px; // Adjust the size as needed
    color: #2c3e50;
  }

  .search-bar {
    border: 3px solid #15026b;
    flex: 1; // Use flex property to fill the remaining space
    height: 40px; // Adjust height as needed
    border-radius: 0.60rem;
    padding: 5px 40px 5px 40px; // Adjust padding to create space for the icon
    box-sizing: border-box;
    font-size: 16px;

    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }
}

.profile-username {
  display: inline-block;
  max-width: 200px; /* Set a maximum width to limit horizontal space */
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate text with an ellipsis if it overflows */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  margin-left: 5px; /* Adjust the margin as needed */
  vertical-align: middle; /* Align vertically with the profile icon */
  line-height: 24px; /* Align vertically with the profile icon */
  position: relative;
  bottom: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: #15026b;
}

// Add these styles to your existing SCSS file

.mat-menu-panel {
  box-shadow: 0 0 10px #15026b;
}

.user-dropdown {
  max-height: 200px; // Set a maximum height for the dropdown to enable scrolling if needed
  overflow-y: auto; // Enable vertical scrolling if the content overflows
}

.user-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f2f2f2; // Highlight on hover
  }
}
.profile-info {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.email-container {
  max-width: 350px; /* Adjust the max-width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
   /* Truncate text with an ellipsis if it overflows */
   margin-top: -10px;
   
}

.smaller-text {
  font-size: 0.9em;
  margin: 10px;
  margin-top: -5px;
}
mat-icon {
  margin-right: 8px; /* Adjust the spacing between the icon and text */
  vertical-align: middle; /* Align the icon vertically with the text */
  color: #15026b;
}
