@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Define variables for common colors
$primary-color: #3498db;
$navbar-background: #2c3e50;
$navbar-text-color: #ecf0f1;

// Navbar styles
.navbar {
  position: fixed;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: $navbar-background;
  color: $navbar-text-color;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000; // Set a high z-index to ensure it's on top of other elements

  .navbar-logo {
    img {
      max-width: 120px; // Adjust the max-width of your logo
      height: auto;
      background-color: white;
      margin-bottom: 20px;
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    padding: 0;

    li {
      margin-right: 20px;
      font-size: 16px;

      a {
        text-decoration: none;
        color: $navbar-text-color;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .navbar-actions {
    position: relative;
    top:4px;
  }
}

.mat-icon-size {
  font-size: 40px;
  height: 60px;
  width: 50px;
}

.input {
  height: 20px;
  width: 100%; /* Full width on smaller screens */
  max-width: 400px; /* Limited width on larger screens */
}

.profile-username {
  position: relative;
  bottom: 35px;
  margin-right: 10px;
}

// Add these styles to your existing SCSS file

.mat-menu-panel {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-dropdown {
  max-height: 200px; // Set a maximum height for the dropdown to enable scrolling if needed
  overflow-y: auto; // Enable vertical scrolling if the content overflows
}

.user-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f2f2f2; // Highlight on hover
  }
}
