<nav class="navbar">
  <div class="navbar-logo"></div>
  <ul class="navbar-links">
    <li>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="number"
          placeholder="Search by User ID"
          aria-label="Search"
          id="userId"
          #userIdInput
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          (click)="getUserById(userIdInput.value)"
        >
          Search
        </button>
      </form>
    </li>

    <li>
      <form class="d-flex" role="search">
        <input matInput type="text" placeholder="Search by name" (input)="searchUsersByName(userNameInput.value)" [matMenuTriggerFor]="userMenu" #userNameInput />
      </form>
      
      <mat-menu #userMenu="matMenu">
        <div class="user-dropdown">
          <ul>
            <li *ngFor="let user of searchResults" (click)="selectUserProfile(user)">
              {{ user.firstName }} {{ user.lastName }}
            </li>
          </ul>
        </div>
      </mat-menu>
      
      
    </li>
  </ul>
  <div class="navbar-actions">
    <div class="dropdown">
      <span class="profile-username">{{ userName }}</span>
      <mat-icon class="mat-icon-size" mat-menu-trigger [matMenuTriggerFor]="profileMenu">account_circle</mat-icon>

      <mat-menu #profileMenu="matMenu">
        <div class="profile-info">
          <p class="bold-text">{{ userName }}</p>
          <div class="email-container">
            <p class="smaller-text">{{ userEmail }}</p>
          </div>
        </div>
        <button mat-menu-item (click)="getProfile()"><mat-icon>account_circle</mat-icon> User Profile</button>
        <button mat-menu-item (click)="logout()"> <mat-icon>exit_to_app</mat-icon> Logout</button>
      </mat-menu>
    </div>
    <!-- Add login/logout buttons or user-related actions here -->
  </div>
</nav>
