<nav class="navbar">
  <div class="navbar-logo">
    <img src="../../assets/images/accolite-logo.png" alt="Company Logo" />
  </div>
  <ul class="navbar-links">
    <li>
      <form class="d-flex">
        <div class="search-container">
          <mat-icon class="search-icon">search</mat-icon>
          <input
            class="form-control me-2 search-bar"
            type="text"
            placeholder="Search by User ID or First Name"
            aria-label="Search"
            id="searchInput"
            #searchInput
            (input)="onSearchInputChange(searchInput.value)"
            [matAutocomplete]="auto"
          />
        </div>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let user of searchResults"
            (click)="selectUserProfile(user)"
          >
            {{ user.firstName }} {{ user.lastName }} - {{ user.userId }}
          </mat-option>
        </mat-autocomplete>
      </form>
    </li>
  </ul>
  <div class="navbar-actions">
    <div class="dropdown">
      <mat-icon
        class="mat-icon-size"
        mat-menu-trigger
        [matMenuTriggerFor]="profileMenu"
        >account_circle</mat-icon
      >
      <!-- <span class="profile-username">{{ userName }}</span> -->
      <mat-menu #profileMenu="matMenu">
        <div class="profile-info">
          <div class="email-container">
            <p class="smaller-text">{{ userEmail }}</p>
          </div>
          <p class="bold-text">Hi, {{ userName }}</p>
        </div>
        <button mat-menu-item (click)="getProfile()" style="color: #112d4e">
          <mat-icon>account_circle</mat-icon> User Profile
        </button>
        <button mat-menu-item (click)="logout()" style="color: #112d4e">
          <mat-icon>exit_to_app</mat-icon> Logout
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
