<div class="task-management-container">
  <div class="form-container">
    <form [formGroup]="taskForm" (ngSubmit)="registerOrUpdateTask()">
      <h2>Task Management</h2>
      <mat-form-field appearance="fill">
        <mat-label for="keyResultId">Key Result ID:</mat-label>
        <input
          matInput
          type="number"
          id="keyResultId"
          formControlName="keyResultId"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="description">Description:</mat-label>
        <input
          matInput
          type="text"
          id="description"
          formControlName="description"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="creationDate">Creation Date:</mat-label>
        <input
          matInput
          type="date"
          id="creationDate"
          formControlName="creationDate"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="deadline">Deadline:</mat-label>
        <input matInput type="date" id="deadline" formControlName="deadline" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="weight">Weight:</mat-label>
        <input matInput type="number" id="weight" formControlName="weight" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="completionStatus">Completion Status:</mat-label>
        <input
          matInput
          type="text"
          id="completionStatus"
          formControlName="completionStatus"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="userId">User ID:</mat-label>
        <input matInput type="number" id="userId" formControlName="userId" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="windowId">Window ID:</mat-label>
        <input
          matInput
          type="number"
          id="windowId"
          formControlName="windowId"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="rating">Rating:</mat-label>
        <input matInput type="number" id="rating" formControlName="rating" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="feedback">Feedback:</mat-label>
        <input matInput type="text" id="feedback" formControlName="feedback" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="period">Period:</mat-label>
        <input matInput type="text" id="period" formControlName="period" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="taskAttributes">Task Attributes:</mat-label>
        <input
          matInput
          type="text"
          id="taskAttributes"
          formControlName="taskAttributes"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        {{ searchTaskId ? "Update Task" : "Register Task" }}
      </button>
      <button mat-raised-button color="primary" type="submit" (click)="exportTasks()" type="button">Export Tasks</button>
    </form>
    
  </div>
  <div class="edit-container">
    <div class="search-form">
      <mat-form-field appearance="fill">
        <mat-label>Search Task by ID:</mat-label>
        <input matInput type="number" id="taskId" [(ngModel)]="taskId" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchTask(taskId)">
        Search
      </button>
      <!-- Reset Form Button -->
      <div class="reset-button">
        <button mat-raised-button (click)="resetForm()">Reset</button>
      </div>
    </div>
    <div class="file-upload-container">
      <app-task-upload></app-task-upload>
    </div>
  </div>
  <!-- Task List
  <div *ngFor="let task of tasks">
    <p>{{ task.description }} (ID: {{ task.taskId }})</p>
    <button (click)="updateTask(task.taskId)">Update</button>
    <button (click)="deleteTask(task.taskId)">Delete</button>
  </div>
</div>
  </div> -->
</div>
