<div class="team-page-container">
  <h2>Team Members</h2>

  <mat-table [dataSource]="teamMembers" class="mat-elevation-z8">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let member"> {{ member.firstName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let member"> {{ member.lastName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let member"> {{ member.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="viewDetails">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let member">
        <button
          mat-button
          color="primary"
          (click)="viewDetails(member.userId)"
          style="
            margin-left: 60px;
            background-color: #F9F7F7;
            color: #000000;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
          "
          class="view-details-button"
        >
         View Details
        </button>
      </mat-cell>
    </ng-container>

    <!-- Add more columns as needed -->

    <mat-header-row
      *matHeaderRowDef="['firstName', 'lastName', 'email', 'viewDetails']"
    ></mat-header-row>
    <mat-row
      *matRowDef="
        let row;
        columns: ['firstName', 'lastName', 'email', 'viewDetails'];
        let even = even;
        let odd = odd
      "
      [ngClass]="{ 'even-row': even, 'odd-row': odd }"
    ></mat-row>
  </mat-table>
</div>
