.team-page-container {
  padding: 20px;
  margin-top: 1%;

  h2 {
    font-size: 30px;
    margin-bottom: -1%;
    margin-top: 1%;
    margin-right: 70%;
    // position: relative;
    // left: -25%; /* Adjusted to center the heading */
    color: #112D4E; /* Adjust the color as needed */
    font-family: 'Arial', sans-serif; /* Specify the font family */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add letter-spacing for better readability */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  }

  mat-table {
    width: 100%;
    overflow-x: auto;
    margin-top: 30px;

    mat-header-cell,
    mat-cell {
      padding: 10px;
      text-align: left;
    }

    mat-header-cell {
      font-size: 18px;
      background-color: rgb(255, 255, 255);
    }

    .mat-row,
    .mat-header-row {
      display: flex;
      width: 100%;
      box-sizing: border-box;
    }

    mat-cell {
      flex: 1;
      max-width: 33.33%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

button.view-details-button {
  background-color: #2196f3; // Replace with your preferred shade of blue
  color: #fff; // White text for better contrast
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add your preferred box-shadow values

  &:hover {
    background-color: #1565c0; // Darker shade for hover effect
  }

  &:active {
    background-color: #0d47a1; // Even darker shade for active/pressed effect
  }
}

.even-row {
  background-color: #dbe2ef; /* Set the background color for even rows */
}

.mat-column-band {
  margin-right: -7%;
}