.feedback-card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .feedback-card:hover {
    transform: scale(1.09);
  }
  .mat-grid-tile {
    padding: 10px;
  }
  // feedback-page.component.scss

.feedback-container {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; // Adding a smooth transition effect
  
    &:hover {
      transform: scale(1.05); // Increase the scale on hover for a zoom-in effect
    }
  
    h5 {
      margin: 0;
      font-size: 20px;
      border-radius: 0.40rem;
      padding: 10px;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    }
  
    p {
      margin: 15px 0;
      font-size: 18px;
    }
  }
  
  

  
  h2 {
    font-size: 30px;
    margin-bottom: -0.5%;
    margin-top: -1.7%;
    // position: relative;
    // left: -25%; /* Adjusted to center the heading */
    color: #112D4E; /* Adjust the color as needed */
    font-family: 'Arial', sans-serif; /* Specify the font family */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add letter-spacing for better readability */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  }

  .header-container {
    margin-left: 7%;
    margin-right: 5.6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1.5%;
    margin-bottom: 20px;
  }
  
  .filter-form {
    display: flex;
    flex-direction: row;
  }