



<!-- diaglogoverview.component.html -->

<h2>Tasks Overview</h2>

<mat-table [dataSource]="data.tasks" class="mat-elevation-z8">
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let task">{{ task.description }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
    <mat-cell *matCellDef="let task">{{ task.weight }}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="completionStatus">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let task">{{ task.completionStatus }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="rating">
    <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <!-- Add input field for rating -->
      <mat-form-field>
        <input matInput placeholder="Enter Rating" [(ngModel)]="task.rating" (change)="updateRating(task)">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="feedback">
    <mat-header-cell *matHeaderCellDef>Feedback</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <!-- Add input field for feedback -->
      <mat-form-field>
        <textarea matInput placeholder="Enter Feedback" [(ngModel)]="task.feedback" (change)="updateFeedback(task)"></textarea>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['description', 'weight', 'rating','feedback' ,'completionStatus']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['description', 'weight', 'rating', 'feedback','completionStatus'];"></mat-row>
</mat-table>

<div class="actions">
  <button mat-raised-button color="primary" (click)="saveChanges()">Save Changes</button>
  <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
</div>
