<!-- diaglogoverview.component.html -->
<div class="table-heading">
  <h2>Task Overview</h2>
</div>
<mat-table [dataSource]="data.tasks" class="mat-elevation-z8">
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let task">{{ task.description }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
    <mat-cell *matCellDef="let task" style="margin-left: 5%">{{
      getWeight(task.weight)
    }}</mat-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="completionStatus">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let task">{{ task.completionStatus }}</mat-cell>
  </ng-container> -->

  <!-- Dropdown for Rating -->
  <ng-container matColumnDef="rating">
    <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <div *ngIf="data.panelClass === 'true'">
        <mat-form-field>
          <mat-label>Enter Rating</mat-label>
          <mat-select
            placeholder="Select Rating"
            [(ngModel)]="task.rating"
            (change)="updateRating(task)"
          >
            <mat-option
              *ngFor="let rating of [1, 2, 3, 4, 5]"
              [value]="rating"
              >{{ rating }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="data.panelClass !== 'true'" style="margin-left: 8%">
        <!-- Display static data here -->
        {{ task.rating }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Input field for Feedback -->
  <ng-container matColumnDef="feedback">
    <mat-header-cell *matHeaderCellDef>Feedback</mat-header-cell>
    <mat-cell *matCellDef="let task" class="feedback-column">
      <div *ngIf="data.panelClass === 'true'">
        <mat-form-field style="width: 100%">
          <textarea
            matInput
            placeholder="Enter Feedback"
            [(ngModel)]="task.feedback"
            (change)="updateFeedback(task)"
          ></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="data.panelClass !== 'true'" style="margin-left: -5%">
        <!-- Display static data here -->
        {{ task.feedback }}
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="['description', 'weight', 'rating', 'feedback']"
  ></mat-header-row>
  <mat-row
    *matRowDef="
      let row;
      columns: ['description', 'weight', 'rating', 'feedback'];
      let even = even;
      let odd = odd
    "
    [ngClass]="{ 'even-row': even, 'odd-row': odd }"
  ></mat-row>
</mat-table>

<div class="actions">
  <button
    mat-raised-button
    color="primary"
    (click)="saveChanges()"
    *ngIf="data.panelClass === 'true'"
    [disabled]="!isSaveEnabled()"
  >
    Save Changes
  </button>
  <div class="close-icon" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
</div>
