/* styles.scss */

/* Apply a modern font */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the table container */
.mat-table {
  width: 100%;
  margin-top: 20px;
}

/* Style the table header cells */
.mat-header-cell {
  background-color: #283593; /* Deep Blue background */
  color: white; /* White text color */
  font-weight: bold;
}

/* Style the table rows */
.mat-row {
  transition: background-color 0.3s;
}

/* Hover effect for rows */
.mat-row:hover {
  background-color: #f2f2f2;
}

/* Add some elevation to the table */
.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actions{
  margin: 1%;

  button{
    margin: 1%;
  }
}

.mat-elevation-z8{
  // margin: 1%;
  max-width: 100%;
}

/* Your component-specific style file or global style file */
.feedback-column {
  width: 700px; /* Set your desired width */
  margin-top: 10px;
}
