/* styles.scss */

/* Apply a modern font */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the table container */
.mat-table {
  width: 100%;
  margin-top: 20px;
}

/* Style the table rows */
.mat-row {
  transition: background-color 0.3s;
}

/* Hover effect for rows */
.mat-row:hover {
  background-color: #f2f2f2;
}

/* Add some elevation to the table */
.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actions{
  margin: 1%;
  text-align: right;

  button{
    margin: 1%;
  }
}

.mat-elevation-z8{
  // margin: 1%;
  max-width: 100%;
}

/* Your component-specific style file or global style file */
.feedback-column {
  width: 700px; /* Set your desired width */
  margin-top: 10px;
}

mat-header-cell {
  font-size: 18px;
}


.even-row {
  background-color: #DBE2EF; /* Set the background color for even rows */
}

.odd-row {
  background-color: #ffffff; /* Set the background color for odd rows */
}

.mat-mdc-cell{
  border: none;
}

/* Add this to your stylesheet */
.table-heading {
  text-align: center;
  padding-top: 10px;
  background-color: #F9F7F7; /* Set your desired background color */
}

.close-icon {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
  color: #757575; /* Set your desired color */
}

.close-icon:hover {
  color: #333; /* Set your desired hover color */
}

.mat-column-description {
  min-width: 500px;
  width: 500px;
}