.id-card
 {
     background: linear-gradient(to right, #FFA500, #800080); 
    color: #fff; padding: 20px; 
    border-radius: 10px; 
    text-align: center; 

}
.company-logo { 
    width: 100px;
     margin-bottom: 20px;
     }
     h2 { 
        color: #fff; 
        margin-bottom: 10px; 
    }
    p 
    {
         color: #fff; 
        margin-bottom: 5px; 
    }