/* app.component.scss */

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set height to 100% of viewport height */
}

.options-container {
  margin: 10px;
  text-align: center;
}

mat-card {
  max-width: 400px; /* Adjust the maximum width of the card as needed */
  width: 100%;
}

.profile-icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-icon {
  cursor: pointer;
  font-size: 28px; /* Adjust the font size of the icon */
  color: #333; /* Adjust the color of the icon */
}