.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Align items in a column */
  height: 100vh;
}

.options-row {
  display: flex;
  margin-bottom: 20px;
}

.options-container {
  margin: 10px;
  text-align: center;

  mat-card {
    width: 270px; /* Adjust the width of the card as needed */
    height: 160px; /* Adjust the height of the card as needed */
    display: flex;
    flex-direction: column;
  }
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

mat-card-title {
  font-size: 1.5rem; /* Adjust the font size of the title as needed */
  text-align: center;
}

mat-card-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-icon {
  cursor: pointer;
  font-size: 28px;
  color: #333;
}
