<!-- dashboard.component.html -->
<div class="dashboard-container">
  <mat-card style="margin-right: 1%;">
    <div style="position: relative; right: 240%;" class="table-card">
      <mat-card *ngIf="taskList && taskList.length > 0">
        <mat-card-title style="color: #112d4e">Ongoing tasks</mat-card-title>
        <div class="scrollable-table">
          <mat-card-content style="width: 400px">
            <mat-table
              class="mat-elevation-z8"
              [dataSource]="taskList"
              style="overflow-y: scroll; max-height: 530px"
            >
              <ng-container matColumnDef="taskName">
                <mat-header-cell *matHeaderCellDef>Task</mat-header-cell>
                <mat-cell *matCellDef="let task">
                  {{ task.description }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
                <mat-cell *matCellDef="let task" style="display: flex; justify-content: flex-end; margin-right: 2%;">
                  {{ task.weight }}
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="['taskName', 'weight']"
              ></mat-header-row>
              <mat-row
                *matRowDef="
                  let row;
                  columns: ['taskName', 'weight'];
                  let even = even;
                  let odd = odd
                "
                [ngClass]="{ 'even-row3': even, 'odd-row3': odd }"
              ></mat-row>
            </mat-table>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
    <mat-card style="margin-right: 108%;" *ngIf="topThreeKeyResults && topThreeKeyResults.length > 0" >
      <mat-card-title style="color: #112d4e">Performance Pinnacles</mat-card-title>
      <mat-card-content style="width: 400px">
        <div style="position: relative; " class="table-card">
          <mat-table class="mat-elevation-z8" [dataSource]="topThreeKeyResults">
            <ng-container matColumnDef="keyResultName">
              <mat-header-cell *matHeaderCellDef>Key Result</mat-header-cell>
              <mat-cell *matCellDef="let keyResult">
                {{ keyResult.keyResultName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
              <mat-cell *matCellDef="let keyResult" style="display: flex; justify-content: flex-end; margin-right: 0%;">
                {{ keyResult.weight }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rating">
              <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
              <mat-cell *matCellDef="let keyResult" style="color: rgb(52, 213, 52); display: flex; justify-content: flex-end; margin-right: 3%; font-weight: 550;">
                {{ keyResult.rating | number : "1.2-2" }}
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="['keyResultName', 'weight', 'rating']"
            ></mat-header-row>
            <mat-row
              *matRowDef="
                let row;
                columns: ['keyResultName', 'weight', 'rating'];
                let even = even;
                let odd = odd
              "
              [ngClass]="{ 'even-row': even, 'odd-row': odd }"
            ></mat-row>
          </mat-table>
          <!-- </mat-card-content>
      </mat-card> -->
        </div>

        <div
          style="position: relative; margin-top: 15%"
          class="table-card"
        >
        <mat-card-title>Improvement Areas</mat-card-title>
          <!-- <mat-card style="margin-top: 5%;"
        *ngIf="bottomThreeKeyResults && bottomThreeKeyResults.length > 0"
      >
        <mat-card-title style="color: #112d4e"
          >Needs Improvement In</mat-card-title
        >
        <mat-card-content style="width: 500px"> -->
          <mat-table
            class="mat-elevation-z8"
            [dataSource]="bottomThreeKeyResults"
          >
            <ng-container matColumnDef="keyResultName">
              <mat-header-cell *matHeaderCellDef>Key Result</mat-header-cell>
              <mat-cell *matCellDef="let keyResult">
                {{ keyResult.keyResultName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
              <mat-cell *matCellDef="let keyResult" style="display: flex; justify-content: flex-end; margin-right: 0%;">
                {{ keyResult.weight }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rating">
              <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
              <mat-cell *matCellDef="let keyResult" style="color: rgb(255, 72, 0); display: flex; justify-content: flex-end; margin-right: 3%; font-weight: 550;">
                {{ keyResult.rating | number : "1.2-2" }}
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="['keyResultName', 'weight', 'rating']"
            ></mat-header-row>
            <mat-row
              *matRowDef="
                let row;
                columns: ['keyResultName', 'weight', 'rating'];
                let even = even;
                let odd = odd
              "
              [ngClass]="{ 'even-row2': even, 'odd-row2': odd }"
            ></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
    <div>
      <mat-card-title>Team Members Reviewed</mat-card-title>
      <mat-card-content>
        <div class="progress-container">
          <mat-progress-spinner
            mode="determinate"
            [value]="calculateProgress()"
            diameter="100"
            strokeWidth="10"
          ></mat-progress-spinner>
          <div class="progress-text">
            {{ completedReviewCount }} / {{ totalUserCount }}
          </div>
        </div>
      </mat-card-content>
    </div>
    <div>
      <mat-card-title>Previous Cycle's Performance</mat-card-title>
      <mat-card-content>
        <div class="progress-container">
          <mat-progress-spinner
            mode="determinate"
            [value]="calculateSecondLatestProgress()"
            diameter="100"
            strokeWidth="10"
          ></mat-progress-spinner>
          <div class="feedback-text">
            {{ secondLatestReviewCycle.overallRating | number : "1.2-2" }} / 5
          </div>
        </div>
      </mat-card-content>
      <!-- <div class="feedback-container">
    <div class="feedback-label">Feedback:</div>
    <div class="feedback-message">
      {{ secondLatestReviewCycle.feedback }}
    </div>
  </div> -->
    </div>
    <div>
      <mat-card-title>Average Rating</mat-card-title>
      <mat-card-content>
        <div class="progress-container">
          <mat-progress-spinner
            mode="determinate"
            [value]="calculateOverallProgress()"
            diameter="100"
            strokeWidth="10"
          ></mat-progress-spinner>
          <div class="rating-text">
            {{ averageRating | number : "1.2-2" }} / 5
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
