/* goal-plan-upload.component.scss */

.file-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Your component's SCSS file (.scss) */

/* Your component's SCSS file (.scss) */

mat-form-field {
  width: 100%;
  margin-bottom: 16px; /* Adjust the margin as needed */
}

/* Your SCSS styles */

input[type="file"] {
  cursor: pointer;

  /* Add some additional styles for a visually appealing appearance */
  border: 2px solid #2196f3; /* Border color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding for inner content */
  background-color: #e3f2fd; /* Background color */
  color: #1976d2; /* Text color */
  font-size: 16px; /* Text font size */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin: 1%;
  align-items: center;

  &:hover {
    background-color: #bbdefb; /* Change background color on hover */
  }
}

mat-label {
  display: block;
  margin-bottom: 8px; /* Adjust margin as needed */
  color: #555; /* Adjust label text color */
}

/* Add some custom styles to make it visually appealing */
mat-form-field {
  &.mat-focused {
    .mat-form-field-label {
      color: #1976d2; /* Adjust the color as needed */
    }
  }
}

button {
  padding: 5.5%;
  padding-left: 5px;
  padding-right: 5px;
}
