<!-- user-management.component.html -->

<div class="key-result-management-container">
  <div class="edit-container">
    <div class="search-form">
      <mat-form-field appearance="fill">
        <mat-label>Search Key Result by ID:</mat-label>
        <input
          matInput
          type="number"
          id="keyResultId"
          [(ngModel)]="keyResultId"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="searchKeyResult(keyResultId)"
      >
        Search
      </button>
      <!-- Reset Form Button -->
      <div class="reset-button">
        <button mat-raised-button (click)="resetForm()">Reset</button>
      </div>
    </div>

    <div class="file-upload-container">
      <app-keyresult-upload></app-keyresult-upload>
    </div>

    <button
      mat-raised-button
      color="primary"
      (click)="exportKeyResults()"
      style="margin-top: 8%"
      type="button"
    >
      Export Key Results
    </button>
  </div>

  <div class="form-container">
    <h2>KeyResult Management</h2>

    <!-- KeyResult Registration Form -->
    <form [formGroup]="keyResultForm" (ngSubmit)="registerOrUpdateKeyResult()">
      <mat-form-field appearance="fill">
        <mat-label>User Id</mat-label>
        <input matInput type="number" id="userId" formControlName="userId" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>GoalPlan Id</mat-label>
        <input
          matInput
          type="number"
          id="goalPlanId"
          formControlName="goalPlanId"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>KeyResult Name</mat-label>
        <input
          matInput
          type="text"
          id="keyResultName"
          formControlName="keyResultName"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          id="description"
          formControlName="description"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput type="number" id="weight" formControlName="weight" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Period</mat-label>
        <input matInput type="text" id="period" formControlName="period" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Window Id</mat-label>
        <input
          matInput
          type="number"
          id="windowId"
          formControlName="windowId"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        {{ searchKeyResultId ? "Update Key Result" : "Register Key Result" }}
      </button>
    </form>
  </div>

  <!-- KeyResult List -->
  <!-- <div class="key-result-list">
    <div class="key-result-card" *ngFor="let keyresult of keyresults">
      <mat-card>
        <mat-card-content>
          <p>{{ keyresult.userId }} ({{ keyresult.goalPlanId }})</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div> -->
</div>
