<div class="center-container">
  <mat-card class="login-card">
    <mat-card-title>
      <img
        class="company-logo"
        src="../../assets/images/accolite-logo.png"
        alt="Company Logo"
      />
    </mat-card-title>
    <mat-card-header class="login-header">
      <mat-card-title>Login with Google</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Button with Google logo image -->
      <button
        mat-raised-button
        color="primary"
        (click)="onSignIn()"
        class="google-sign-in-button"
      >
        <span class="google-button-content">
          <img
            src="../../assets/images/google-logo.png"
            alt="Google Logo"
            class="google-logo"
          />
          <span class="google-button-text">Sign in with Google</span>
        </span>
      </button>
    </mat-card-content>
  </mat-card>
</div>
