.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 102vh; /* Set height to 100% of viewport height */
  background-image: url('../../assets/images/19965595_6122578.svg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  margin-top: -4rem;
  margin-left: -20rem;
  margin-right: -3rem;
  // margin: -8rem;
  overflow: hidden;
}

.login-card {
  max-width: 400px; /* Adjust the maximum width of the card as needed */
  width: 100%;
  padding: 20px;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.148); /* Add a semi-transparent white background to improve readability */
  border-radius: 10px; /* Optional: Add a border-radius for a more polished look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 3rem;
}

.login-header {
  margin-bottom: 3%;
}

button {
  width: 100%; /* Make the button take up 100% width of its container */
}

.company-logo {
  width: 60%;
  height: 60%;
}

button.google-sign-in-button {
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #f1f1f1;
  }
}

.google-button-content {
  display: flex;
  align-items: center;
}

.google-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.google-button-text {
  font-size: 16px;
  font-weight:500;
}